#body {
    >.note {
        width: var(--width-main);    
        margin: 0 auto;

        >ul{
           display: flex;
           flex-wrap: wrap;
           //justify-content: space-between;
           position: relative;
            >li{
                position: absolute;
                overflow: hidden;
                margin: 0 10px 10px 0;

                width: calc((100% - 3 * 10px) / 4);
                border: 1px solid grey;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                &:nth-child(4n) {
                    margin-right: 0;
                  }
                //margin: 3px;
                // display: flex;
                // flex-direction: column;
                // justify-content: start;
                
                >img{
                    border-radius: 10px;
                }
                >p {
                    font-size: 16px;
                    padding: 0px 3px;
                    &:nth-child(2) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    +p {
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                       
                        >span{
                            &:last-child{
                                color:grey
                            }
                        }
                    }
                }

                

                
            }
        }

        >.pages {
            margin: 10px 0;
            height: 40px;
            display: flex;
            justify-content: center;
            >ul {
                display: flex;
                align-items: center;
                >li{
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.active{
                        background-color: #ffa500;
                        color: white;
                    }
                }
            }
        }

        
    }
}