#body {
    >.home {
        width: var(--width-main);
        margin: 0 auto;
        >.hot-video {
            >div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                
                >a {
                    color: white;
                    font-weight: bold;
                    background-image: linear-gradient(to right, #f67135, #f64e36);
                    padding: 6px 14px;
                    border-radius: 100px;
                }
            }
            >ul {
                display: flex;
                justify-content: space-between;
                padding-bottom: 15px;

                >li {
                    width: calc((100% - 3 * 10px) / 4);
                    height: 450px;
                    overflow: hidden;
                    position: relative;
                    border-radius: 6px;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
                    transition: 0.3s;
                    &.active {
                        width: calc((100% - 3 * 10px) / 4 + 3 * 30px);
                        > video {
                            filter: blur(0);
                        }
                        > b,
                        i {
                        display: none;
                        }
                    }
                    &.noactive {
                        width: calc((100% - 3 * 10px) / 4 - 30px);
                      }
    
                   >video {
                        width: calc((var(--width-main) - 3 * 10px)/ 4 + 3 * 30px);
                        height: 100%;
                        filter: blur(2px);
                   } 
                   >i {
                     background-image: url("../../assets/img/979.png");
                     background-size: 100px;
                     background-position: -22px -31px;
                     width: 63px;
                     height: 78px;
                     position: absolute;
                     left: 50%;
                     top: 50%;
                     transform: translate(-50%, -50%);
                   }
                   > b {
                    color: white;
                    font-size: 1.3em;
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                  }
    
                  
                }
            }
            
        }
         
        >.home-content {
            >.area-1 {
                display: flex;
                justify-content: space-between;
                >.area-1-left {
                    width: 70%;
                    >.hot-search {
                        > h2 {
                            padding: 15px 0;
                        }
                        >div {
                            display: flex;
                            flex-wrap: wrap;
                            >a {
                                background-color: #f5f5f5;
                                padding: 8px 15px;
                                margin: 0 10px 10px 0;
                                border-radius: 100px;
                                color: #333;
                                &.active {
                                    color: var(--color-primary);
                                    background-color: #fee4e1;
                                }
                            }
                        }

                    }

                    >.today-meal {
                        >div:first-child {
                            width: 100%;

                            display: flex;
                            align-items: center;
                            ul {
                                display: flex;
                                li {
                                    background-color: #eee;
                                    padding: 5px 15px;
                                    border-radius: 100px;
                                    margin-left: 15px;

                                    &.active {
                                        color: white;
                                        background-color: #f65436;
                                    }
                                }
                            }
                        }

                        >.swiper {
                            margin-top: 15px;
                            >.swiper-wrapper {
                            >.swiper-slide {
                                display: flex;
                                flex-direction: column;
                                > img {
                                    width: 100%;
                                    height: 304px;
                                    border-radius: 6px;
                                }
                                > b {
                                    font-size: 1.1em;
                                    margin: 5px 0;
                                }
                            }
                        }
                        }
                    }

                }
                >.area-1-right {
                    width: 28%;
                    margin-top: 28px;
                    border-radius: 6px;
                    overflow: hidden;
                    position: relative;
                    > div {

                    }
                    > .bg {
                        width: 100%;
                        height: 100%;
                        transition: 1s;

                    }
                    > .hand {
                        position: absolute;
                        bottom: 150px;
                        width: 200px;
                        right: 0;
                        transform: translateX(100%) rotate(40deg);
                        transition: 1s;

                    }

                    &.active {
                        > .hand {
                          transform: translateX(0) rotate(0);
                        }
                        > .bg {
                          filter: blur(3px);
                        }
                      }
                }
            }

            >.index-items {
                >div {
                    display: flex;
                    flex-direction: column;
                    >h2{
                        margin: 15px 0;
                    }
                    >ul{
                        display: flex;
                        justify-content: space-between;
                        >li{
                            
                            width: 192px;
                            height: 300px;
                            &:hover {
                                > div > span {
                                    transform: translateY(0);
                                }
                                >b {
                                    color: var(--color-primary)
                                }
                            }

                            >div{
                                position: relative;
                                overflow: hidden;
                                >img{
                                    border-radius: 10px;
                                    width: 100%;
                                    height: 260px;

                                }
                                >span {
                                    position: absolute;
                                    bottom: 0;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    color:white;
                                    text-align: center;
                                    width: 100%;
                                    padding:6px;
                                    transform: translateY(100%);
                                    transition: 0.3s;
                                }
                            }
                            >p,
                            >b {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            >p {
                                color:grey;
                                font-size: 12px;
                                &::before {
                                    content: "";
                                    display: inline-block;
                                    background-image: url(../../assets/img/453.png);
                                    width: 17px;
                                    height: 16px;
                                    background-size: 24px;
                                    background-position: 0 -48px;
                                    transform: translateY(5px);
                                }
                            }
                        }

                        
                    }
                }
            }

            
        }
    }
}